= content_for :left_block do
  = link_to "<i class='fa fa-arrow-left'></i> Назад в офис".html_safe, profile_path(@user.profile), class: "btn btn-default btn-block"
= content_for :main_body do
  %h3 Измените информацию о своем проекте
  = simple_form_for (@resource), method: :put do |f|
    %p
      = f.input :name, label: 'Ваш проект'
    %p
      = f.input :adress, label: 'Местоположение'
    %p
      = f.input :phone, label: 'Номер телефона', placeholder: "81234567890"
    %p
      = f.button :submit, 'Сохранить', class: "btn btn-primary"