= content_for :left_block do
  = link_to 'Изменить', edit_profile_path(@resource), class: "btn btn-default btn-block"
  %br
  = link_to 'Создать магазин', new_store_path, class: "btn btn-default btn-block"

= content_for :main_body do
  %h3 #{@resource.name}
  %table.table
    %tr
      %td
        = "Местоположение: #{@resource.adress}"
    %tr
      %td
        = "Email: #{@user.email}"
    %tr
      %td
        = "Номер телефона: #{@resource.phone}"
  - if @resource.stores.present?
    %h4 Ваши магазины:
    %table.table
      %th Название
      %th Описание
      - @resource.stores.each do |s|
        %tr
          %td
            = link_to store_path(s) do
              -if s.active
                %span.fa.fa-check
              -else
                %span.fa.fa-times
              = "#{s.name}"
          %td #{s.description}